@value myblue from '../../static/css/colors.css';

.dog-border {
  padding: 8px;
  border: 8px solid orange;
  display: block;
  width: 100%;
}

.blue-text {
  color: myblue;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.cssModuleFont {
  font-family: "Sailec";
}
